---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2>Hi, I'm Lindsey.</h2>
<p>I'm a lead engineer at
  <a href="https://webdevstudios.com">WebDevStudios</a>
  where I lead a team developing quality websites & web applications for clients. I've created website for a variety of
  industries including higher ed, small business, not for profit, and enterprise level businesses.</p>
<p>When I'm not developing websites, I live in South Philadelphia with my wife, 2 dogs, a cat and a bird. I like to
  cook, travel, read, and try as many different types of crafts as I can.</p>
{% set maxPosts = collections.posts.length | min(3) %}
<h3>Latest
  {% if maxPosts == 1 %}Post
  {% else %}
    {{ maxPosts }} Posts{% endif %}
</h3>
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
<p>More posts can be found in
  <a href="{{ '/posts/' | url }}">the archive</a>.</p>
